@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-gray-50 text-gray-800;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.2s ease-out forwards;
}
